/* variables */
/* base and global styles */
*:focus {
  outline: none !important;
}
.movie-name {
  margin-top: 5px;
}
.content {
  width: 960px;
  margin: 0 auto;
}
.player,
.video-info {
  width: 70%;
  margin: 0 auto;
}
.player {
  position: relative;
}
.spinner-wrapper {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.spinner-wrapper .spinner {
  margin: 27% auto;
}
.video-player {
  width: 100%;
  height: 100%;
  min-height: 378px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: 1px solid #000;
}
.movie-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.movie-list .movie-list-item {
  padding-top: 10px;
  min-height: 360px;
}
.movie-preview {
  width: 100%;
  color: #000;
  text-shadow: 1px 1px 1px #aaaaaa;
}
.movie-preview img {
  display: block;
  width: 90%;
  min-height: 245px;
  border: 1px solid #333;
  -webkit-box-shadow: 3px 3px 3px 0 #aaaaaa;
  box-shadow: 3px 3px 3px 0 #aaaaaa;
}
.movie-preview:hover {
  color: #000;
  text-shadow: 1px 1px 1px #333333;
  text-decoration: none;
}
.movie-preview:hover img {
  -webkit-box-shadow: 3px 3px 3px 0 #333333;
  box-shadow: 3px 3px 3px 0 #333333;
}
.movie-preview:focus {
  color: #999;
  text-shadow: 1px 1px 1px #333333;
  text-decoration: none;
}
.movie-preview:focus img {
  -webkit-box-shadow: 3px 3px 3px 0 #333333;
  box-shadow: 3px 3px 3px 0 #333333;
}
.movie-preview.active {
  text-shadow: 2px 2px 2px #cccccc;
}
.movie-preview.active img {
  -webkit-box-shadow: 0px 0px 4px 4px #cccccc;
  box-shadow: 0px 0px 4px 4px #cccccc;
}
.theme-selector {
  margin-top: 20px;
}
/* devices styles */
@media screen and (max-width: 768px) {
  .content {
    width: 100%;
  }
  .player,
  .video-info {
    width: 100%;
  }
  .movie-list .movie-list-item {
    height: 300px;
    min-height: 300px;
  }
  .video-player {
    min-height: initial;
  }
}
@media screen and (max-width: 640px) {
  .movie-list .movie-list-item {
    min-height: 435px;
  }
}
@media screen and (max-width: 480px) {
  .movie-list .movie-list-item {
    min-height: 335px;
  }
}
@media screen and (max-width: 320px) {
  .movie-list .movie-list-item {
    min-height: 300px;
  }
}
