<!DOCTYPE html>
<html ng-app="videoPlayerApp">
<head lang="en">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>HTML 5 player</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="" id="bootstrap-theme"/>
    <link rel="stylesheet" href="css/main.css"/>

    <script src="js/vendor/require.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
    <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
        <div class="container" ng-controller="ThemeController" ng-init="themeInit()">
            <div class="nav navbar-nav">
                <H1>Simple HTML 5 Player</H1>
            </div>
            <div class="nav navbar-nav navbar-right">
                <select class="form-control theme-selector" name="" id="" ng-change="updateTheme()" ng-model="selectedTheme" ng-options="theme.url as theme.name for theme in themesList" >
                </select>
            </div>
        </div>
    </header>
    <div class="content-wrapper"  ng-controller="PlayerController" ng-init="playerInit()">
        <div class="container-fluid">
            <div class="content">
                <div class="player" id="player">
                    <video width="320" height="240" tabindex="0" controls class="video-player" id="video-player" poster="" style="{{activeVideo.style}}" ng-click="playVideo($event)">
                        <source type="video/mp4" id="mp4src">
                        <source type="video/ogv" id="ogvsrc">
                        <source type="video/webm" id="webmsrc">
                    </video>
                </div>
                <div class="video-info">
                    <h2 class="movie-name">{{activeVideo.title}}</h2>
                    <p>Actors: {{activeVideo.actorsList}}</p>
                    <p>Directors:
                        <span ng-repeat="movie_director in activeVideo.meta.directors">{{movie_director.name}}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="content">
                <ul class="movie-list clearfix">
                    <li class="col-md-3 col-sm-3 col-xs-6 movie-list-item" ng-repeat="item in data">
                        <a href="#" class="movie-preview clearfix" tabindex="{{$index + 1}}" ng-class="{active: item.active}" ng-click="updateVideo(item, $index)">
                            <img ng-src="{{item.images.cover}}" alt="{{item.title}}"/>
                            <h3>{{item.title}}</h3>
                            <p>{{item.meta.releaseYear}}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>